html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.container {
	background-image: url("../asset/kanye.webp");
	background-position: top center;
	background-repeat: reverse repeat;
	background-size: cover;
}

h1 {
	text-align: center;
}

.container {
	min-height: 100vh;
	text-align: center;
	-webkit-perspective: 1000;
}

.main-content {
	overflow: auto;
	border: 1px solid black;
	margin: 30px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
	opacity: 0;
	transform: translateX(-30px);
	animation: show 0.8s 1.8s ease-out forwards;
}
.main-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	opacity: 0;
	transform: translateY(-50px);
	animation: show 0.4s 1.6s ease-out forwards;
}

.main-bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.gift {
	opacity: 0;
	transform: translateX(-60px);
	animation: show 0.8s 0.7s ease-out forwards;
}
.refresh {
	padding: 15px;
	opacity: 0;
	transform: translateX(-30px);
	animation: show 0.8s 1.4s ease-out forwards;
}
.hvr-round-corners {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: border-radius;
	transition-property: border-radius;
}
.hvr-round-corners:hover,
.hvr-round-corners:focus,
.hvr-round-corners:active {
	border-radius: 1em;
}

/* glow */
.glow-on-hover:before {
	content: "";
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.glow-on-hover:active {
	color: rgb(0, 0, 0);
}

.glow-on-hover:active:after {
	background: transparent;
}

.glow-on-hover:hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	/* background: #111; */
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

/* text */

:root {
	--color-primary: #f6aca2;
	--color-secondary: #f49b90;
	--color-tertiary: #f28b7d;
	--color-quaternary: #f07a6a;
	--color-quinary: #ee6352;
}

.content {
	display: flex;
	align-content: center;
	justify-content: center;
}

.text_shadows {
	text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
		12px 12px 0 var(--color-quinary);
	font-family: bungee, sans-serif;
	/* font-weight: 200; */
	/* text-transform: uppercase; */
	font-size: calc(1rem + 3vw);
	text-align: center;
	margin: 0;
	color: var(--color-primary);
	/* color: transparent; */
	/* background-color: white; */
	/* background-clip: text; */
	animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
	letter-spacing: 0.4rem;
}

@keyframes shadows {
	0% {
		text-shadow: none;
	}
	10% {
		text-shadow: 3px 3px 0 var(--color-secondary);
	}
	20% {
		text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
	}
	30% {
		text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
	}
	40% {
		text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
			12px 12px 0 var(--color-quinary);
	}
	50% {
		text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
			12px 12px 0 var(--color-quinary);
	}
	60% {
		text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
			12px 12px 0 var(--color-quinary);
	}
	70% {
		text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
	}
	80% {
		text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
	}
	90% {
		text-shadow: 3px 3px 0 var(--color-secondary);
	}
	100% {
		text-shadow: none;
	}
}

@keyframes move {
	0% {
		transform: translate(0px, 0px);
	}
	40% {
		transform: translate(-12px, -12px);
	}
	50% {
		transform: translate(-12px, -12px);
	}
	60% {
		transform: translate(-12px, -12px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes show {
	100% {
		opacity: 1;
		transform: none;
	}
}
